:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.9em;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;


  background-image: linear-gradient(rgb(6, 10, 9), rgb(32, 31, 51), rgb(57, 55, 77));
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  user-select: none;


}

@media only screen and (max-width: 900px) {}