.gameCont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

}

@font-face {
    font-family: digital;
    src: url(../assets/digital-7.ttf);
}

@font-face {
    font-family: bubble;
    src: url(../assets/Bubble.ttf);
}


.topCont {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

}

.score {
    font-size: 2.0em;
    font-weight: 600;
    background-color: rgb(37, 40, 55);
    border-radius: 0.2em;
    padding: 0.6em;
    margin: 1em;
    aspect-ratio: 1/1;
}

.gameStatsCont {
    display: flex;

    flex-direction: column;

}

.timeSymbolCont {
    display: flex;
    align-items: center;
    flex-direction: row;

}


.timeLeft {
    font-family: 'digital';
    font-size: 4em;

    font-weight: 600;
}

.gameSymbol {
    max-width: 4em;


}

.gameName {
    font-size: 1.2em;
    font-weight: 700;
}

.progressBarCont {
    position: relative;
    width: 8em;
    aspect-ratio: 13/1;

}

.progressBG {
    position: relative;
    background-color: rgb(40, 40, 42);
    height: 100%;
    border-radius: 3em;


}

.progressFront {
    border-radius: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(55deg, rgb(233, 168, 80), rgb(230, 82, 65));
    height: 100%;

}

.boardCont {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.tileCont {

    background-color: rgb(37, 40, 55);
    padding: 1em;
    margin: 0.6em;
    border-radius: 1em;
    line-height: 0;
    height: 7em;
    width: 7em;
    transition: scale 0.3s;
}

.tileCont:hover {
    scale: 1.04;
}

.tileCont:active {
    scale: 0.96;
}

.tileImg {
    max-width: 7em;
    opacity: 0;
    animation: fade 0.3s both;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.gameStartOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(71, 71, 71, 0.238);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;

}

.gameStartTimer {
    font-size: 3em;
    font-weight: 700;
    animation: pulse 1s ease-in-out infinite both;
}

@keyframes pulse {
    from {
        scale: 1.7;
    }

    50% {
        scale: 1.0;
    }

    to {
        scale: 1.7;
    }
}

.gameWonCont {
    position: absolute;
    width: 30em;
    height: 10em;
    background-color: rgba(65, 65, 65, 0.333);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: end;
    justify-content: right;


    border-radius: 1em;

    animation: gameWonContAni 0.4s both;
}

@keyframes gameWonContAni {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.playAgainButton {
    border-radius: 0.3em;
    padding: 1em;
    text-align: center;


    font-size: 1.4em;
    font-weight: 700;


    border-style: none;
    background-image: linear-gradient(55deg, rgb(233, 168, 80), rgb(230, 82, 65));
    box-shadow: -1px 1px 5px 3px rgba(233, 169, 80, 0.075), 1px -1px 5px 3px rgba(235, 109, 95, 0.083);

    transition: scale 0.3s, box-shadow 0.3s;

    height: 2em;
    width: 2em;
    margin: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wonText {
    position: absolute;
    left: 10%;
    top: 20%;
    font-size: 1.5em;
    font-weight: 600;

}

.playAgainButton:hover {
    scale: 1.02;
    box-shadow: -2px 2px 10px 6px rgba(233, 169, 80, 0.136), 2px -2px 10px 6px rgba(235, 109, 95, 0.116);
}

.playAgainButton:active {
    scale: 0.95;
}

.leaveButton {
    transition: scale 0.3s, box-shadow 0.3s;

    border-radius: 0.3em;
    padding: 1em;
    text-align: center;


    font-size: 1.4em;
    font-weight: 400;
    line-height: 0;

    border-style: none;
    height: 2em;
    width: 2em;
    margin: 1em;
    background-color: rgba(52, 52, 52, 0.157);
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;


}


.leaveButton:hover {
    scale: 1.02;
}

.leaveButton:active {
    scale: 0.95;
}

.die {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.playAgainImg {
    width: 1.4em;
}

.opponentLeftText {
    margin: 1em;
    font-weight: 600;

}

@media only screen and (max-width: 900px) {
    .gameCont {
        font-size: 0.7em;

    }

    .gameWonCont {
        font-size: 0.8em;
    }
}